<!DOCTYPE html>
<html>
<head>
	<title>JustGreetings</title>
	<link rel="stylesheet" type="text/css" href="/viewcard.css">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	
<div id="invitation">
	<p id="invitetext">
		You are Invited for <%= card.owner %>'s <%= card.event %>
	</p>
	<p class="othertexts">
		Venue: <%= card.venue %>
	</p>
	<p class="othertexts">
		Time: <%= card.time %>
	</p>
	<p class="othertexts">
		Date: <%= card.date %>
	</p>
</div>
	
</body>
</html>	


